<template id="friend-item-template">
	<li class="friend-item flex items-center m-2 gap-4">
		<span class="friend-avatar relative inline-block">
			<img
				src=""
				alt="avatar"
				class="size-12 lg:size-16 object-cover friend-avatar-img" />
			<span class="absolute top-0 z-10 status-dot friend-status-dot">
			</span>
		</span>
		<div class="flex flex-col">
			<span class="friend-name lg:text-lg"></span>
			<button
				class="remove-friend-btn text-xs lg:text-base text-gray-400 text-left">
				Remove friend
			</button>
		</div>
	</li>
</template>
