<template id="user-item-template">
	<li class="user-item flex items-center m-4 gap-4">
		<span class="user-avatar relative inline-block">
			<img
				src=""
				alt="avatar"
				class="h-10 w-10 object-cover user-avatar-img" />
			<span class="absolute top-0 z-10 status-dot user-status-dot">
			</span>
		</span>
		<div class="flex flex-col">
			<span class="user-name"></span>
			<button
				class="add-friend-btn text-xs text-gray-400 text-left">
				Add as friend
			</button>
		</div>
	</li>
</template>
