
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow {
    -webkit-box-shadow: 0 0 110px 11px rgba(46,210,255,0.73);
    -moz-box-shadow: 0 0 110px 11px rgba(46,210,255,0.73);
    box-shadow: 0 0 110px 11px rgba(46,210,255,0.73);
  }

  .glow-anim { animation: glow 2s ease-in-out infinite alternate; }
  @keyframes glow {
    from { box-shadow: 0 0 12px 4px rgba(46,210,255,0.4); }
    to   { box-shadow: 0 0 28px 10px rgba(46,210,255,0.75); }
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(46, 210, 255, 0.8),
                 0 0 20px rgba(46, 210, 255, 0.6),
                 0 0 30px rgba(46, 210, 255, 0.4);
  }

  .text-glow-anim {
    animation: text-glow 2s ease-in-out infinite alternate;
  }

  @keyframes text-glow {
    from { text-shadow: 0 0 5px #2ed2ff66, 0 0 10px rgba(46,210,255,0.3); }
    to   { text-shadow: 0 0 15px #2ed2ffcc, 0 0 25px rgba(46,210,255,0.6); }
  }

  .text-glow-red {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8),
                 0 0 20px rgba(255, 0, 0, 0.6),
                 0 0 30px rgba(255, 0, 0, 0.4);
  }

  .text-glow-anim-red {
    animation: text-glow-red 2s ease-in-out infinite alternate;
  }

  @keyframes text-glow-red {
    from { text-shadow: 0 0 5px rgba(255, 0, 0, 0.4), 0 0 10px rgba(255, 50, 50, 0.3); }
    to   { text-shadow: 0 0 25px rgba(255, 0, 0, 0.8), 0 0 25px rgba(255, 100, 100, 0.6); }
  }

  .hover-glow-orange:hover {
    box-shadow: 0 0 8px 2px #2ed2ff66, 0 0 20px 6px #2ed2ffcc;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    border-color: #2ed2ff66;
    border-style: solid;
  }
}
