body {
	background-color: black;
	color: rgb(161, 207, 245);
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body > div {
	border-width: 2px;
	border-color: aqua;
	border-style: double;
	border-radius: 6px;
	border-style: solid;
	margin: 10px;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#alias-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

#alias-container > label {
	padding: 10px;
}

h1 {
	margin:	0;
	padding: 0;
}

input {
	background-color: rgb(51, 51, 51);
	color: azure;
	border-style: solid;
	border-color: rgb(255, 158, 47);
	border-radius: 6px;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
}
